{{#if logged_in}}

<!---create tasks--->
<section class="create-task">
  <h2>Create A Task:</h2>
  <div class="input">
    <input type="text" class="form-control" placeholder="Enter task here..." id="task" autofocus>
    <span class="input-group-btn">
      <button id="create" class="button is-success is-large" type="button" name="submit">Create</button>
    </span>
  </div>
</section>


{{!-- .todo section  --}}
<div class="card">
  <section class="on-click">
    <header class="card-header">
      <section class="card-header-title">
        <h3>Tasks Todo:</h3>
      </section>
    </header>
    <div class="card-content">
      <div class="content">
        {{#each todos}}
        <div class="task clearfix todo-list">
          <span>{{task_name}}</span>
          <div class="btn-group pull-right" role="group" aria-label="...">
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <button data-id="{{id}}" type="button" class="btn-inprogress card-footer-item">In-Progress</button>
      <button data-id="{{id}}" type="button" class="btn-delete card-footer-item">Delete</button>
    </footer>
    {{/each}}
  </section>
</div>

<!---in-progress tasks--->
<section>
  <hr>
  <h2>Tasks In-Progress:</h2>
  {{#each inProgress}}
  <div class="task clearfix">
    <ul>{{task_name}}</ul>
    <div class="btn-group pull-right" role="group" aria-\qlabel="...">
      <button id="completed-btn" data-id="{{id}}" type="button" class="btn-complete">Completed</button>
      <button data-id="{{todo.id}}" type="button" class="btn-delete">Delete</button>
    </div>
  </div>
  {{/each}}
</section>

<!---completed tasks--->
<section>
  <hr>
  <h2>Completed Tasks:</h2>
  {{#each completed}}
  <div class="task clearfix">
    <ul>{{task_name}}</ul>
    <div class="btn-group pull-right" role="group" aria-label="...">
      <button data-id="{{todo.id}}" type="button" class="btn-delete">Delete</button>
    </div>
  </div>
  {{/each}}
</section>
</main>

<script src="/js/create-task.js"></script>
<script src="/js/progress.js"></script>

{{/if}}