{{#if logged_in}}
<section class = "on-click">

<!---create tasks--->
<section class="card-header">
  <header class="card-header-title create-task">
  <h2>Create A Task:</h2>

    <input type="text" class="form-control" placeholder="Enter task here..." id="task" autofocus>
    <span class="input-group-btn">
      <button id="create" class="button is-primary is-medium" type="button" name="submit">Create</button>
    </span>
</header>
</section>


{{!-- .todo section  --}}

  <section>
    <header class="card-header">
      <section class="card-header-title">
        <h3>Tasks Todo:</h3>
      </section>
    </header>
    <div class="card-content">
      <div class="content">
        {{#each todos}}
        <div class="task clearfix todo-list">
          <span>{{task_name}}</span>
          <div class="btn-group pull-right" role="group" aria-label="...">
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <button data-id="{{id}}" type="button" class="btn-inprogress button is-medium is-primary is-outlined card-footer-item">In-Progress</button>
      <button data-id="{{id}}" type="button" class="btn-delete button is-medium is-primary is-outlined card-footer-item">Delete</button>
    </footer>
    {{/each}}
  </section>

{{!-- in progress section --}}
  <section>
    <header class="card-header">
      <section class="card-header-title">
        <h3>Tasks In Progress:</h3>
      </section>
    </header>
    <div class="card-content">
      <div class="content">
        {{#each inProgress}}
        <div class="task clearfix todo-list">
          <span>{{task_name}}</span>
          <div class="btn-group pull-right" role="group" aria-label="...">
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <button data-id="{{id}}" type="button" class="btn-complete button is-medium is-primary is-outlined card-footer-item">Complete</button>
      <button data-id="{{id}}" type="button" class="btn-delete button is-medium is-primary is-outlined card-footer-item">Delete</button>
    </footer>
    {{/each}}
  </section>


<!---completed tasks--->
  <section>
    <header class="card-header">
      <section class="card-header-title">
        <h3>Completed Tasks:</h3>
      </section>
    </header>
    <div class="card-content">
      <div class="content">
        {{#each completed}}
        <div class="task clearfix todo-list">
          <span id="strikethrough">{{task_name}}</span>
          <div class="btn-group pull-right" role="group" aria-label="...">
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <button data-id="{{id}}" type="button" class="btn-inprogress button is-medium is-primary is-outlined card-footer-item">In-Progress</button>
      <button data-id="{{id}}" type="button" class="btn-delete button is-medium is-primary is-outlined card-footer-item">Delete</button>
    </footer>
    {{/each}}

</section>
{{/if}}

<script src="/js/create-task.js"></script>
<script src="/js/progress.js"></script>