{{#if logged_in}}
<!---create tasks--->

<section>
  <h2>Create A Task:</h2>
  <div class="input">
    <input type="text" class="form-control" placeholder="Enter task here..." id="task" autofocus>
    <span class="input-group-btn">
      <button id="create" class="btn btn-primary" type="button" name="submit">Create</button>
    </span>
  </div>
</section>

<!---total tasks to-do--->
<section class = "on-click">
  
  <h2>Tasks Todo:</h2>
  {{#each todos}}
  <div class="task clearfix">
    <span>{{task_name}}</span>
    <div class="btn-group pull-right" role="group" aria-label="...">
      <button data-id="{{id}}" type="button" class="btn-inprogress">In-Progress</button>
      <button data-id="{{id}}" type="button" class="btn-delete">Delete</button>
    </div>
  </div>

  {{/each}}
</section>

<!---in-progress tasks--->
<section>
  <hr>
  <h2>Tasks In-Progress:</h2>
  {{#each inProgress as |todo| }}
  {{#if todo.in_progress}}
  <div class="task clearfix">
    <ul>{{todo.task_name}}</ul>
    <div class="btn-group pull-right" role="group" aria-label="...">
      <button id="completed-btn" data-id="{{id}}" type="button" class="btn-complete">Completed</button>
      <button data-id="{{todo.id}}" type="button" class="btn-delete">Delete</button>
    </div>
  </div>
  {{/if}}
  {{/each}}
</section>

<!---completed tasks--->
<section>
  <hr>
  <h2>Completed Tasks:</h2>
  {{#each completed as |todo|}}
  {{#if todo.completed}}
  <div class="task clearfix">
    <ul>{{todo.task_name}}</ul>
    <div class="btn-group pull-right" role="group" aria-label="...">
      <button data-id="{{todo.id}}" type="button" class="btn-delete">Delete</button>
    </div>
  </div>
  {{/if}}
  {{/each}}
  {{/if}}
</section>
</main>

<script src="/js/create-task.js"></script>
<script src="/js/progress.js"></script>